{% extends 'main.html' %}

{% block title %}Restaurants: Select from 3 from each group {% endblock %}

{% block content %}
  <div class="container" id="main-section">
    <form name="reqform" action="/resultpage" method="POST">
      <h1>Restaurants: Check 3 you will likely visit from each group</h1>
      <a class="btn btn-primary btn-md btn-font pull-right" href="/requestpage" role="button"><span class="fa fa-cutlery" aria-hidden="true"></span> Surprise Me!</a>    
      <h2>Group 1</h2>
      {% if restaurant_results1 %}
        <div class="row">
          {% for restaurant in restaurant_results1 %}
            <div class="col-xs-12 col-md-6">
              <div class="list-group" id="restaurant-list">
                <a href="#" class="list-group-item">                
                  <div class="media">
                    <div class="pull-left selection">
                      <input type="checkbox" class="group1" name="yelpid"
                              value="{{ restaurant.yelpid }}">
                    </div>                  
                    <div class="media-left">
                      {% if restaurant.image_url %}
                        <img class="media-object" src="{{ restaurant.image_url }}" alt="Image for {{ restaurant.name }}">
                      {% else %}
                        <img class="media-object" src="http://placehold.it/100x100?text=No+Image+Available" alt="Image for {{ restaurant.name }}">
                      {% endif %}
                    </div><!-- /.media-left --> 
                    <div class="media-body">
                      <h3 class="media-heading">{{ restaurant.name }}</h3>
                      <p>
                        {{ restaurant.cuisine }}<br>
                        {{ restaurant.price }}
                      </p>
                      <p>{{ restaurant.rating }}<br>
                        {% if restaurant.reservations %}                      
                          <span> | Reservations</span>
                        {% endif%}

                        {% if restaurant.delivery %}                      
                          <span> | Delivery</span>
                        {% endif%}
                      </p>
                    </div><!-- /.media-body -->  
                  </div><!-- /.media -->            
                </a>
              </div><!-- /.list-group -->
            </div><!-- /.col -->
          {% endfor %}
        </div><!-- /.row -->
      {% else %}
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>No results found. Please try again.</p>
          </div><!-- /.col -->
        </div><!-- /.row -->
      {% endif %}

      <hr>
      <!-- Group 2 -->
      <h2>Group 2</h2>
      {% if restaurant_results2 %}
        <div class="row">
          {% for restaurant in restaurant_results2 %}
            <div class="col-xs-12 col-md-6">
              <div class="list-group" id="restaurant-list">
                <a href="#" class="list-group-item">                
                  <div class="media">
                    <div class="pull-left selection">
                      <input type="checkbox"  class="group2" name="group2_selection"
                              value="{{ restaurant.yelpid }}">
                    </div>                  
                    <div class="media-left">
                      {% if restaurant.image_url %}
                        <img class="media-object" src="{{ restaurant.image_url }}" alt="Image for {{ restaurant.name }}">
                      {% else %}
                        <img class="media-object" src="http://placehold.it/100x100?text=No+Image+Available" alt="Image for {{ restaurant.name }}">
                      {% endif %}
                    </div><!-- /.media-left --> 
                    <div class="media-body">
                      <h3 class="media-heading">{{ restaurant.name }}</h3>
                      <p>
                        {{ restaurant.cuisine }}<br>
                        {{ restaurant.price }} 
                        {% if restaurant.reservations %} 
                          <span>| Reservations</span>
                        {% endif %}
                        {% if restaurant.delivery %}
                          <span>| Delivery</span>
                        {% endif %}
                      </p>
                    </div><!-- /.media-body -->  
                  </div><!-- /.media -->            
                </a>
              </div><!-- /.list-group -->
            </div><!-- /.col -->
          {% endfor %}
        </div><!-- /.row -->
      {% else %}
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>No results found. Please try again.</p>
          </div><!-- /.col -->
        </div><!-- /.row -->
      {% endif %}

      <hr>
      <!-- Group 3 -->
      <h2>Group 3</h2>
      {% if restaurant_results3 %}
        <div class="row">
          {% for restaurant in restaurant_results3 %}
            <div class="col-xs-12 col-md-6">
              <div class="list-group" id="restaurant-list">
                <a href="#" class="list-group-item">                
                  <div class="media">
                    <div class="pull-left selection">
                      <input type="checkbox"  class="group3" name="group3_selection"
                              value="{{ restaurant.yelpid }}">
                    </div>                  
                    <div class="media-left">
                      {% if restaurant.image_url %}
                        <img class="media-object" src="{{ restaurant.image_url }}" alt="Image for {{ restaurant.name }}">
                      {% else %}
                        <img class="media-object" src="http://placehold.it/100x100?text=No+Image+Available" alt="Image for {{ restaurant.name }}">
                      {% endif %}
                    </div><!-- /.media-left --> 
                    <div class="media-body">
                      <h3 class="media-heading">{{ restaurant.name }}</h3>
                      <p>
                        {{ restaurant.cuisine }}<br>
                        {{ restaurant.price }}
                      </p>
                    </div><!-- /.media-body -->  
                  </div><!-- /.media -->            
                </a>
              </div><!-- /.list-group -->
            </div><!-- /.col -->
          {% endfor %}
        </div><!-- /.row -->

      {% else %}
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>No results found. Please try again.</p>
          </div><!-- /.col -->
        </div><!-- /.row -->
      {% endif %}
    </form>
  </div><!-- /.container -->

{% endblock %}

{% block javascript %}
  <!-- <script type='text/javascript' src='../static/js/resultpage.js'></script> -->
  <script>
    var limit = 3;
    $('a.input.group1').on('change', function(evt) {
       if($(this).siblings(':checked').length >= limit) {
           this.checked = false;
       }
    });


    $('input.group2').on('change', function(evt) {
       if($(this).siblings(':checked').length >= limit) {
           this.checked = false;
       }
    });


    $('input.group3').on('change', function(evt) {
       if($(this).siblings(':checked').length >= limit) {
           this.checked = false;
       }
    });
  </script>
  

{% endblock %}