{% extends 'main.html' %}

{% block title %}Team Page{% endblock %}

{% block content %}
	<div class="container" id="main-section">
    <h1>Data Scientists</h1>
    <hr>
    <div class="row">          
      <div class="col-md-3">            
        <div class="mu-single-team">
          <figure class="mu-single-team-img">
            <img class="single_image" src="/static/img/lizette.jpg" alt="Lizette img">
          </figure>
          <div class="mu-single-team-info">
            <h4>Lizette Leano</h4>
          </div>
          <div class="mu-single-team-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">            
        <div class="mu-single-team">
          <figure class="mu-single-team-img">
            <img class="single_image" src="" alt="Sharanya img">
          </figure>
          <div class="mu-single-team-info">
            <h4>Sharanya Banavar</h4>
          </div>
          <div class="mu-single-team-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">            
        <div class="mu-single-team">
          <figure class="mu-single-team-img">
            <img class="single_image" src="" alt="Ruchi img">
          </figure>
          <div class="mu-single-team-info">
            <h4>Ruchi Chandra</h4>
          </div>
          <div class="mu-single-team-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">            
        <div class="mu-single-team">
          <figure class="mu-single-team-img">
            <img class="single_image" src="" alt="Andy img">
          </figure>
          <div class="mu-single-team-info">
            <h4>Andy Oh</h4>
          </div>
          <div class="mu-single-team-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
