{% extends 'main.html' %}

{% block title %}Team Page{% endblock %}

{% block content %}
	<div class="container" id="main-section"> 
		<h1>Team</h1>
	</div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="mu-team-area">
            <div class="mu-title">
              <h2>Data Scientists</h2>
            </div>

            <div id="team-content">
              <ul class="team-nav">
                <li>
                  <div class="mu-single-team">
                    <figure class="mu-single-team-img">
                      <img src="/static/img/lizette.jpg" alt="Lizette img">
                    </figure>
                    <div class="mu-single-team-info">
                      <h4>Lizette Leano</h4>
                    </div>
                    <div class="mu-single-team-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-team">
                    <figure class="mu-single-team-img">
                      <img src="http://via.placeholder.com/150X150" alt="Sharanya img">
                    </figure>
                    <div class="mu-single-team-info">
                      <h4>Sharanya</h4>
                    </div>
                    <div class="mu-single-team-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-team">
                    <figure class="mu-single-team-img">
                      <img src="http://via.placeholder.com/150X150" alt="Ruchi img">
                    </figure>
                    <div class="mu-single-team-info">
                      <h4>Ruchi</h4>
                    </div>
                    <div class="mu-single-team-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-team">
                    <figure class="mu-single-team-img">
                      <img src="http://via.placeholder.com/150X150" alt="Andy img">
                    </figure>
                    <div class="mu-single-team-info">
                      <h4>Andy</h4>
                    </div>
                    <div class="mu-single-team-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>  
                      
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	

{% endblock %}
